apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app vaultwarden
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5

  values:
    controller:
      type: statefulset
      replicas: 1
    image:
        repository: ghcr.io/dani-garcia/vaultwarden
        tag: 1.30.0

    env:
      TIMEZONE: ${TZ}
      SIGNUPS_ALLOWED: false
      DOMAIN: "https://bitwarden.${SECRET_DOMAIN}"
      SENDS_ALLOWED: true
      DISABLE_ADMIN_TOKEN: false
      SMTP_HOST: "smtp-relay.default.svc.cluster.local"
      SMTP_FROM: "${SECRET_SMTP_SENDER}"
      SMTP_FROM_NAME: "Philipps Bitwarden"
      SMTP_SECURITY: "off"
      SMTP_PORT: 2525
      SMTP_TIMEOUT: 15
      PUSH_ENABLED: true

    envFrom:
      - secretRef:
          name: vaultwarden-secret

    podAnnotations:
      secret.reloader.stakater.com/reload: vaultwarden-secret

    service:
      main:
        ports:
          http:
            port: &port 80

    ingress:
      main:
        enabled: true
        primary: true
        ingressClassName: traefik
        annotations:
          external-dns.alpha.kubernetes.io/target: ipv4.${SECRET_DOMAIN}
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.middlewares: >-
            networking-headers@kubernetescrd
        hosts:
          - host: &host "bitwarden.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  port: *port
        tls:
          - hosts:
              - *host
            secretName: ${SECRET_CERT_NAME}-prod-tls

    volumeClaimTemplates:
      - name: config
        mountPath: /data
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: longhorn

    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"

    resources:
      requests:
        cpu: 5m
        memory: 128M
      limits:
        memory: 128M
