---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: authelia
  labels:
    app.kubernetes.io/name: authelia
spec:
  forwardAuth:
    address: http://authelia.default.svc.cluster.local:9091/api/verify?rd=https://authelia.${SECRET_DOMAIN}
    trustForwardHeader: true
    authResponseHeaders:
      - Remote-User
      - Remote-Groups
      - Remote-Email
