---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openhab
spec:
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 30m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      openhab:
        containers:
          app:
            image:
              repository: docker.io/openhab/openhab
              tag: 4.2.3
            env:
              USER_ID: 1000
              GROUP_ID: 1000
              OPENHAB_HTTP_PORT: "8282"
              OPENHAB_HTTPS_PORT: "8443"
              EXTRA_JAVA_OPTS: -Duser.timezone=Europe/Berlin -Dlog4j2.formatMsgNoLookups=true

            # hostNetwork: true
            # dnsPolicy: ClusterFirstWithHostNet
            # podAnnotations:
            #   k8s.v1.cni.cncf.io/networks: macvlan-static-iot-openhab

            resources:
              requests:
                cpu: 56m
                memory: 1340Mi
              limits:
                memory: 1340Mi
    service:
      app:
        controller: openhab
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: ${SVC_OPENHAB_ADDR}
        externalTrafficPolicy: Cluster
        ports:
          http:
            port: 8282
          https:
            enabled: true
            port: 8443
          upnp:
            enabled: true
            port: 1900
            protocol: UDP
            targetPort: 1900
          karaf:
            enabled: true
            port: 8101
          mdns:
            enabled: true
            port: 5353
            protocol: UDP
            targetPort: 5353
    ingress:
      app:
        className: internal
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      conf:
        enabled: true
        type: nfs
        server: nas.${SECRET_HOME_DOMAIN}
        path: /spool/openhab/conf
        globalMounts:
          - path: /openhab/conf
      userdata:
        enabled: true
        type: nfs
        server: nas.${SECRET_HOME_DOMAIN}
        path: /spool/openhab/userdata
        globalMounts:
          - path: /openhab/userdata
    # podSecurityContext:
    #     runAsUser: 1000
    #     runAsGroup: 1000
    #     fsGroup: 1000
    #     fsGroupChangePolicy: OnRootMismatch
