---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: default
  name: bazarr-config
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn
