apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app mosquitto
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controller:
      type: statefulset

    image:
      repository: eclipse-mosquitto
      tag: 2.0.18

    service:
      main:
        type: LoadBalancer
        annotations:
          coredns.io/hostname: mqtt.${SECRET_DOMAIN}
          io.cilium/lb-ipam-ips: ${SVC_MQTT_ADDR}
        externalTrafficPolicy: Cluster
        ports:
          http:
            enabled: false
          mqtt:
            enabled: true
            port: 1883

    auth:
      enabled: true

    configMaps:
      config:
        enabled: true
        data:
          mosquitto.conf: |
            listener 1883
            persistence true
            persistence_location /mosquitto/data
            connection_messages false
            password_file /mosquitto/config/mosquitto_pwd
            autosave_interval 60
          mosquitto_pwd: ${SECRET_MOSQUITTO_PASS_HASH}

    volumeClaimTemplates:
      - name: data
        mountPath: /mosquitto/data
        accessMode: ReadWriteOnce
        size: 128Mi
        storageClass: longhorn

    persistence:
      config:
        enabled: true
        type: custom
        mountPath: /mosquitto/config/
        volumeSpec:
          configMap:
            name: mosquitto-config

    resources:
      requests:
        cpu: 5m
        memory: 35M
      limits:
        memory: 35M
