# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cloudflare-ddns
spec:
  chart:
    spec:
      chart: app-template
      version: 3.3.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 30m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      cloudflare-ddns:
        cronjob:
          concurrencyPolicy: Forbid
          schedule: "@hourly"
        type: cronjob
        containers:
          app:
            image:
              repository: ghcr.io/onedr0p/kubernetes-kubectl
              tag: 1.29.2@sha256:6324f99979877f3ded7647f4efa4df6d73f11bb9d8302dc81ab4a5d38e406867
            envFrom:
              - secretRef:
                  name: &app cloudflare-ddns
            command:
              - /bin/bash
              - &scriptPath /app/cloudflare-ddns.sh
    service:
      app:
        controller: cloudflare-ddns
        enabled: false
    persistence:
      config:
        defaultMode: 0775
        enabled: true
        name: cloudflare-ddns-configmap
        type: configMap
        globalMounts:
          - path: *scriptPath
            subPath: cloudflare-ddns.sh
            readOnly: true
    restartPolicy: OnFailure
