# trash
.DS_Store
Thumbs.db
# temp folders
.private/
# ansible
xanmanning.k3s*
.venv*
.task/
# terraform
.terraform
*.tfvars
.terraform.tfstate*
terraform.tfstate*
# sops
.decrypted~*
.config.env
*.agekey
*.pub
*.key
*.pem
# Other files
kubeconfig
talosconfig
# extras
config.xml
