---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: snapshot-controller
  namespace: kube-system
spec:
  interval: 15m
  chart:
    spec:
      chart: snapshot-controller
      version: 1.6.2
      sourceRef:
        kind: HelmRepository
        name: piraeus
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      tag: v5.0.1
    replicaCount: 3
    volumeSnapshotClasses:
      - name: longhorn-snapshot-vsc
        driver: driver.longhorn.io
        deletionPolicy: Delete
    serviceMonitor:
      create: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: snapshot-validation-webhook
  namespace: kube-system
spec:
  interval: 30m
  chart:
    spec:
      chart: snapshot-validation-webhook
      version: 1.9.0
      sourceRef:
        kind: HelmRepository
        name: piraeus
        namespace: flux-system
      interval: 30m
  install:
    crds: Skip
  upgrade:
    crds: Skip
  dependsOn:
    - name: snapshot-controller
  values:
    image:
      tag: v5.0.1
