# apiVersion: longhorn.io/v1beta1
# kind: RecurringJob
# metadata:
#   name: backup-1
#   namespace: longhorn-system
# spec:
#   cron: "0 4 * * ?" # Every day at 4
#   task: "backup"
#   groups:
#   - default
#   retain: 2
#   concurrency: 2
# ---
# apiVersion: longhorn.io/v1beta1
# kind: RecurringJob
# metadata:
#   name: snapshot-1
#   namespace: longhorn-system
# spec:
#   cron: "0 0/6 * * ?" # Every 6 hours
#   task: "snapshot"
#   groups:
#   - default
#   retain: 3
#   concurrency: 2
---
apiVersion: longhorn.io/v1beta1
kind: RecurringJob
metadata:
  name: trim
  namespace: longhorn-system
spec:
  cron: "0 8 ? * SAT" # Every Saturday at 8:00
  task: "filesystem-trim"
  groups:
  - default
  concurrency: 2
---
apiVersion: longhorn.io/v1beta1
kind: RecurringJob
metadata:
  name: delete-old-snapshots
  namespace: longhorn-system
spec:
  cron: "0 9 ? * SAT" # Every Saturday at 9:00
  task: "snapshot-delete"
  groups:
  - default
  retain: 3
  concurrency: 2
