---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: minio
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      minio:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: quay.io/minio/minio
              tag: RELEASE.2024-04-18T19-09-19Z
            args: ["server", "/data", "--console-address", ":9001"]
            env:
              TZ: ${TZ}
              MINIO_API_CORS_ALLOW_ORIGIN: https://minio.${SECRET_HOME_DOMAIN},https://s3.${SECRET_HOME_DOMAIN},https://minio.${SECRET_DOMAIN}
              MINIO_BROWSER_REDIRECT_URL: https://minio.${SECRET_HOME_DOMAIN}
              MINIO_SERVER_URL: https://s3.${SECRET_HOME_DOMAIN}
              MINIO_UPDATE: "off"
              MINIO_PROMETHEUS_JOB_ID: minio
              MINIO_PROMETHEUS_URL: https://prometheus.${SECRET_HOME_DOMAIN}
              MINIO_PROMETHEUS_AUTH_TYPE: public
            envFrom:
              - secretRef:
                  name: minio-secret
            resources:
              requests:
                cpu: 5m
                memory: 128M
            securityContext:
              runAsUser: 1000
              runAsGroup: 100
              fsGroup: 100
              fsGroupChangePolicy: "OnRootMismatch"
    service:
      app:
        controller: minio
        type: LoadBalancer
        externalTrafficPolicy: Local
        ports:
          http:
            port: 9001
          s3:
            port: 9000
    serviceMonitor:
      app:
        serviceName: minio
        enabled: true
        endpoints:
          - port: s3
            scheme: http
            path: /minio/v2/metrics/cluster
            interval: 1m
            scrapeTimeout: 10s
    ingress:
      app:
        className: internal
        hosts:
          - host: &host-console "minio.${SECRET_HOME_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
          - host: &host-s3 "s3.${SECRET_HOME_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: s3
        tls:
          - hosts:
              - *host-s3
              - *host-console

    persistence:
      data:
        type: hostPath
        hostPath: /spool/minio
        hostPathType: Directory
        globalMounts:
          - path: /data
