---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app calibre-web
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      calibre-web:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/bjw-s-labs/calibre-web
              tag: 0.6.25@sha256:10c6d481f081ba51b9c7a445fa95cf53a88a2316e2a15ac4ef3c025098588f15
            env:
              CACHE_DIR: /cache
              TZ: ${TZ}
            resources:
              requests:
                cpu: 10m
                memory: 204Mi
              limits:
                memory: 204Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000

    service:
      app:
        controller: calibre-web
        ports:
          http:
            port: 8083

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https

    persistence:
      config:
        existingClaim: *app
        advancedMounts:
          calibre-web:
            app:
              - path: /config
      media:
        type: nfs
        server: nas.${SECRET_HOME_DOMAIN}
        path: /spool/media/ebooks/calibre_library
        globalMounts:
          - path: /books
            readOnly: false
      cache:
        type: emptyDir
        globalMounts:
          - path: /cache
