---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app nextcloud
spec:
  interval: 30m
  chart:
    spec:
      chart: nextcloud
      version: 6.0.1
      sourceRef:
        kind: HelmRepository
        name: nextcloud
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    fullnameOverride: *app
    deploymentAnnotations:
      secret.reloader.stakater.com/reload: &secret nextcloud-secret
    image:
      repository: public.ecr.aws/docker/library/nextcloud
      tag: 30.0.0-fpm-alpine
      flavor: fpm-alpine
    nextcloud:
      host: &host cloud.${SECRET_DOMAIN}
      extraInitContainers:
        - name: init-db
          image: ghcr.io/onedr0p/postgres-init:16.3
          envFrom:
            - secretRef:
                name: *secret
      existingSecret:
        enabled: true
        secretName: *secret
        usernameKey: nextcloud-username
        passwordKey: nextcloud-password
      extraEnv:
        - name: S3_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: *secret
              key: S3_ACCESS_KEY
        - name: S3_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: *secret
              key: S3_SECRET_KEY
        - name: NEXTCLOUD_OAUTH_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: *secret
              key: NEXTCLOUD_OAUTH_CLIENT_SECRET
        - name: REDIS_HOST
          value: dragonfly.databases.svc.cluster.local
          # value: redis-lb.databases.svc.cluster.local
        - name: REDIS_HOST_PORT
          value: "6379"
      mail:
        enabled: true
        fromAddress: ${SECRET_CERT_NAME}
        domain: ${SECRET_SMTP_DOMAIN}
        smtp:
          host: smtp-relay.default.svc.cluster.local
          secure: ""
          port: 2525
      objectstore:
        s3:
          enabled: true
          host: s3.{SECRET_HOME_DOMAIN}
          ssl: true
          bucket: nextcloud-data
          usePathStyle: true
          region: us-east-1
          autocreate: true
          existingSecret: nextcloud-secret
          secretKeys:
            accessKey: S3_ACCESS_KEY
            secretKey: S3_SECRET_KEY

      securityContext:
        runAsUser: 82
        runAsGroup: 82
        fsGroup: 82
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
      configs:
        custom.config.php: |-
          <?php
          $CONFIG = array (
            'overwriteprotocol' => 'https',
            'overwrite.cli.url' => 'https://cloud.${SECRET_DOMAIN}',
            'overewritehost' => 'cloud.${SECRET_DOMAIN}',
            'filelocking.enabled' => 'true',
            'default_phone_region' => 'DE',
            'loglevel' => '2',
            'enable_previews' => true,
            'log_type' => 'syslog',
            'trusted_domains' =>
              array (
                0 => 'nextcloud',
                1 => 'cloud.${SECRET_DOMAIN}',
                2 => 'localhost',
              ),
            'trusted_proxies' =>
              array (
                0 => '10.42.3.0/16',
                1 => '192.168.178.0/16',
              ),
          );

        sso.config.php: |-
          <?php
          $CONFIG = array (
            'oidc_login_provider_url' => 'https://authelia.${SECRET_DOMAIN}',
            'oidc_login_client_id' => 'nextcloud',
            'oidc_login_client_secret' => getenv('NEXTCLOUD_OAUTH_CLIENT_SECRET'),
            'oidc_login_button_text' => 'Log in with Authelia',
            'oidc_login_attributes' =>
            array (
              'id' => 'preferred_username',
              'name' => 'name',
              'mail' => 'email',
            ),
            'oidc_login_scope' => 'openid profile email',
            'oidc_login_disable_registration' => false,
            'oidc_login_password_authentication' => true,
          );

      phpConfigs:
        uploadLimit.ini: |
          upload_max_filesize = 16G
          post_max_size = 16G
          max_input_time = 3600
          max_execution_time = 3600
        www.conf: |
          [www]
          user = www-data
          group = www-data
          listen = 127.0.0.1:9000
          pm = dynamic
          pm.max_children = 57
          pm.start_servers = 14
          pm.min_spare_servers = 14
          pm.max_spare_servers = 42
          pm.max_requests = 500
          pm.process_idle_timeout = 10s
    redis:
      enabled: false
      architecture: standalone
      auth:
        enabled: false
        # existingSecret: *secret
        # existingSecretPasswordKey: REDIS_PASSWORD
      master:
        persistence:
          enabled: false
      resources:
        requests:
          cpu: 10m
          memory: 21M
        limits:
          memory: 50M
    nginx:
      enabled: true
      image:
        repository: public.ecr.aws/nginx/nginx
        tag: "1.27.1"
      config:
        default: true
      resources:
        requests:
          cpu: 10m
          memory: 100M
        limits:
          memory: 100M

    internalDatabase:
      enabled: false
    externalDatabase:
      enabled: true
      type: postgresql
      host: postgres16-rw.databases.svc.cluster.local:5432
      database: nextcloud
      existingSecret:
        enabled: true
        secretName: *secret
        usernameKey: POSTGRES_USER
        passwordKey: POSTGRES_PASSWORD
    ingress:
      enabled: true
      className: external
      annotations:
        external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        nginx.ingress.kubernetes.io/proxy-body-size: "10G"
        nginx.ingress.kubernetes.io/proxy-buffering: "off"
        nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
        nginx.ingress.kubernetes.io/server-snippet: |-
          server_tokens off;
          proxy_hide_header X-Powered-By;

          rewrite ^/.well-known/webfinger /public.php?service=webfinger last;
          rewrite ^/.well-known/host-meta /public.php?service=host-meta last;
          rewrite ^/.well-known/host-meta.json /public.php?service=host-meta-json;
          location = /.well-known/carddav {
            return 301 $scheme://$host/remote.php/dav;
          }
          location = /.well-known/caldav {
            return 301 $scheme://$host/remote.php/dav;
          }
          location = /robots.txt {
            allow all;
            log_not_found off;
            access_log off;
          }
          location ~ ^/(?:build|tests|config|lib|3rdparty|templates|data)/ {
            deny all;
          }
          location ~ ^/(?:autotest|occ|issue|indie|db_|console) {
            deny all;
          }
      path: /
      pathType: Prefix
      tls:
        - hosts:
            - *host

    persistence:
      enabled: true
      existingClaim: nextcloud-config-v1

    cronjob:
      enabled: true

    hpa:
      enabled: false

    startupProbe:
      enabled: false
    livenessProbe:
      enabled: false
    readinessProbe:
      enabled: false

    resources:
      requests:
        cpu: 17m
        memory: 536Mi
      limits:
        memory: 736Mi
