---
apiVersion: nfd.k8s-sigs.io/v1alpha1
kind: NodeFeatureRule
metadata:
  name: cc2652-zigbee-device
spec:
  rules:
    - # Slae.sh cc2652 Zigbee Stick
      name: cc2652.zigbee
      labels:
        cc2652.feature.node.kubernetes.io/zigbee: "true"
      matchFeatures:
        - feature: usb.device
          matchExpressions:
            class: { op: In, value: ["00", "ff"] }
            vendor: { op: In, value: ["10c4"] }
            device: { op: In, value: ["ea60"] }
