---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: nextcloud-secret
spec:
  target:
    deletionPolicy: Delete
    template:
      type: Opaque
      data:
        # App
        nextcloud-username: "{{ .NEXTCLOUD_USER }}"
        nextcloud-password: "{{ .NEXTCLOUD_PASS }}"
        smtp-username: ""
        smtp-password: ""
        smtp-host: ""
        POSTGRES_USER: "{{ .POSTGRES_USER }}"
        POSTGRES_PASSWORD: "{{ .POSTGRES_PASS }}"
        S3_ACCESS_KEY: "{{ .MINIO_ACCESS_KEY }}"
        S3_SECRET_KEY: "{{ .MINIO_SECRET_KEY }}"
        NEXTCLOUD_OAUTH_CLIENT_SECRET: "{{ .NEXTCLOUD_OAUTH_CLIENT_SECRET }}"
        # Postgres Init
        INIT_POSTGRES_DBNAME: nextcloud
        INIT_POSTGRES_HOST: postgres16-rw.databases.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  data:
    - secretKey: NEXTCLOUD_USER
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore
      remoteRef:
        key: 9af7a56c-e96c-4ce0-b952-081affcad60b
        property: username
    - secretKey: NEXTCLOUD_PASS
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore
      remoteRef:
        key: 9af7a56c-e96c-4ce0-b952-081affcad60b
        property: password
    - secretKey: NEXTCLOUD_OAUTH_CLIENT_SECRET
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 9af7a56c-e96c-4ce0-b952-081affcad60b
        property: oauth_client_secret
    - secretKey: POSTGRES_USER
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 9af7a56c-e96c-4ce0-b952-081affcad60b
        property: pg_user
    - secretKey: POSTGRES_PASS
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 9af7a56c-e96c-4ce0-b952-081affcad60b
        property: pg_password
    - secretKey: POSTGRES_SUPER_PASS
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore
      remoteRef:
        key: 2ad3fcad-e666-4701-b44c-a4e6e5cc5da3
        property: password
    - secretKey: MINIO_ACCESS_KEY
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: ddc59a49-292c-482a-aaaf-5f43d869189d
        property: access_key
    - secretKey: MINIO_SECRET_KEY
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: ddc59a49-292c-482a-aaaf-5f43d869189d
        property: secret_key
