---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app redis
  namespace: databases
spec:
  interval: 15m
  chart:
    spec:
      chart: redis
      version: 19.0.2
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    auth:
      enabled: false
      sentinel: false
    master:
      resourcesPreset: micro
      persistence:
        enabled: false
    replica:
      resourcesPreset: micro
      persistence:
        enabled: false
    sentinel:
      enabled: true
      masterSet: redis-master
      resourcesPreset: micro
      persistence:
        enabled: false
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
        interval: 1m
      resourcesPreset: nano
    networkPolicy:
      enabled: false
