---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: grafana
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 10.5.9
  url: oci://ghcr.io/grafana/helm-charts/grafana
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: grafana
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    replicas: 1
    admin:
      existingSecret: &secret grafana-secret
    env:
      GF_DATE_FORMATS_FULL_DATE: "MMM Do, YYYY hh:mm:ss a"
      GF_PANELS_DISABLE_SANITIZE_HTML: true
      GF_SECURITY_ALLOW_EMBEDDING: true
      GF_SECURITY_COOKIE_SAMESITE: grafana
      GF_SERVER_DOMAIN: grafana.${SECRET_DOMAIN}
      GF_SERVER_ROOT_URL: "https://grafana.${SECRET_DOMAIN}"
      GF_AUTH_GENERIC_OAUTH_API_URL: https://authelia.${SECRET_DOMAIN}/api/oidc/userinfo
      GF_AUTH_GENERIC_OAUTH_AUTH_URL: https://authelia.${SECRET_DOMAIN}/api/oidc/authorization
      GF_AUTH_GENERIC_OAUTH_CLIENT_ID: grafana
      GF_AUTH_GENERIC_OAUTH_TOKEN_URL: "https://authelia.${SECRET_DOMAIN}/api/oidc/token"
      GF_DATE_FORMATS_USE_BROWSER_LOCALE: true
      GF_EXPLORE_ENABLED: true
      GF_FEATURE_TOGGLES_ENABLE: publicDashboards
      GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS: natel-discrete-panel,pr0ps-trackmap-panel,panodata-map-panel
    envFromSecrets:
      - name: *secret
    grafana.ini:
      analytics:
        check_for_updates: false
        check_for_plugin_updates: false
        reporting_enabled: false
      auth:
        signout_redirect_url: "https://grafana.${SECRET_DOMAIN}/"
        oauth_auto_login: false
        oauth_allow_insecure_email_lookup: true
      auth.generic_oauth:
        enabled: true
        name: Authelia
        client_id: grafana
        scopes: "openid profile email groups"
        empty_scopes: false
        login_attribute_path: preferred_username
        groups_attribute_path: groups
        name_attribute_path: name
        email_attribute_path: email
        use_pkce: true
      auth.generic_oauth.group_mapping:
        role_attribute_path: |
          contains(groups[*], 'admin') && 'Admin' || contains(groups[*], 'people') && 'Viewer'
        org_id: 1
      auth.basic:
        enabled: false
      auth.anonymous:
        enabled: false
      news:
        news_feed_enabled: false
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: default
            orgId: 1
            folder: ""
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/default
          - name: ceph
            orgId: 1
            folder: Ceph
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/ceph
          - name: kubernetes
            orgId: 1
            folder: Kubernetes
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/kubernetes
          - name: unifi
            orgId: 1
            folder: Unifi
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/unifi

    datasources:
      datasources.yaml:
        apiVersion: 1
        deleteDatasources:
          - { name: Alertmanager, orgId: 1 }
          - { name: Prometheus, orgId: 1 }
        datasources:
          - name: Prometheus
            type: prometheus
            uid: prometheus
            access: proxy
            url: http://prometheus-operated.monitoring.svc.cluster.local:9090
            jsonData:
              timeInterval: 1m
            isDefault: true
          - name: Postgres HA
            type: postgres
            uid: homeassistant-postgres
            access: proxy
            url: postgres-rw.databases.svc.cluster.local:5432
            user: $HASS_POSTGRES_USER
            secureJsonData:
              password: $HASS_POSTGRES_PASS
            jsonData:
              database: home_assistant
              sslmode: 'disable' # disable/require/verify-ca/verify-full
          - name: Alertmanager
            type: alertmanager
            uid: alertmanager
            access: proxy
            url: http://alertmanager-operated.monitoring.svc.cluster.local:9093
    dashboards:
      default:
        blackbox-exporter:
          datasource: Prometheus
          url: https://grafana.com/api/dashboards/7587/revisions/3/download
        cert-manager:
          datasource: Prometheus
          url: https://grafana.com/api/dashboards/20842/revisions/3/download
        cloudflared:
          datasource:
            - name: DS_PROMETHEUS
              value: Prometheus
          url: https://grafana.com/api/dashboards/17457/revisions/6/download
        dragonfly:
          url: https://raw.githubusercontent.com/dragonflydb/dragonfly/main/tools/local/monitoring/grafana/provisioning/dashboards/dragonfly.json
          datasource: Prometheus
        envoy:
          datasource:
            - name: DS_AFRANET_PROMETHEUS
              value: Prometheus
          url: https://grafana.com/api/dashboards/23239/revisions/1/download
        node-exporter-full:
          datasource:
            - name: DS_PROMETHEUS
              value: Prometheus
          url: https://grafana.com/api/dashboards/1860/revisions/42/download
        prometheus:
          datasource: Prometheus
          url: https://grafana.com/api/dashboards/19105/revisions/8/download
        smartctl-exporter:
          datasource:
            - name: DS_PROMETHEUS
              value: Prometheus
          url: https://grafana.com/api/dashboards/22604/revisions/2/download
        volsync:
          datasource:
            - name: DS_PROMETHEUS
              value: Prometheus
            - name: VAR_REPLICATIONDESTNAME
              value: ".*-dst"
          url: https://grafana.com/api/dashboards/21356/revisions/3/download
      ceph:
        ceph-cluster:
          datasource: Prometheus
          url: https://grafana.com/api/dashboards/2842/revisions/18/download
        ceph-osd:
          datasource: Prometheus
          url: https://grafana.com/api/dashboards/5336/revisions/9/download
        ceph-pools:
          datasource: Prometheus
          url: https://grafana.com/api/dashboards/5342/revisions/9/download

      kubernetes:
        kubernetes-api-server:
          datasource: Prometheus
          url: https://grafana.com/api/dashboards/15761/revisions/20/download
        kubernetes-coredns:
          datasource: Prometheus
          url: https://grafana.com/api/dashboards/15762/revisions/22/download
        kubernetes-global:
          datasource: Prometheus
          url: https://grafana.com/api/dashboards/15757/revisions/43/download
        kubernetes-namespaces:
          datasource: Prometheus
          url: https://grafana.com/api/dashboards/15758/revisions/44/download
        kubernetes-nodes:
          datasource: Prometheus
          url: https://grafana.com/api/dashboards/15759/revisions/40/download
        kubernetes-pods:
          datasource: Prometheus
          url: https://grafana.com/api/dashboards/15760/revisions/37/download
        kubernetes-volumes:
          datasource: Prometheus
          url: https://grafana.com/api/dashboards/11454/revisions/14/download

      unifi:
        unifi-insights:
          datasource: Prometheus
          url: https://grafana.com/api/dashboards/11315/revisions/9/download
        unifi-network-sites:
          datasource: Prometheus
          url: https://grafana.com/api/dashboards/11311/revisions/5/download
        unifi-usw:
          datasource: Prometheus
          url: https://grafana.com/api/dashboards/11312/revisions/9/download
        unifi-uap:
          datasource: Prometheus
          url: https://grafana.com/api/dashboards/11314/revisions/10/download
    sidecar:
      dashboards:
        enabled: true
        searchNamespace: ALL
        labelValue: ""
        label: grafana_dashboard
        folderAnnotation: grafana_folder
        provider:
          disableDelete: true
          foldersFromFilesStructure: true
      datasources:
        enabled: true
        searchNamespace: ALL
        labelValue: ""
    plugins:
      - natel-discrete-panel
      - pr0ps-trackmap-panel
      - grafana-piechart-panel
      - vonage-status-panel
      - grafana-worldmap-panel
      - grafana-clock-panel
    serviceMonitor:
      enabled: true
    route:
      main:
        enabled: true
        hostnames:
          - grafana.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: networking
    persistence:
      enabled: false
    testFramework:
      enabled: false

    resources:
      requests:
        cpu: 5m
        memory: 162M
      limits:
        memory: 362M
