---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: plex-trakt-sync
  namespace: default
spec:
  chart:
    spec:
      chart: app-template
      version: 1.1.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 30m
  values:
    image:
      repository: ghcr.io/taxel/plextraktsync
      tag: 0.32.3

    args:
      - watch

    service:
      main:
        enabled: false

    ingress:
      main:
        enabled: false

    persistence:
      config:
        enabled: true
        existingClaim: plex-trakt-sync-config-v1
        mountPath: /app/config
      config-yaml:
        enabled: true
        mountPath: /app/config/config.yml
        name: plex-tract-sync-config-yaml
        readOnly: true
        subPath: config.yml
        type: configMap

    probes:
      liveness:
        enabled: false
      readiness:
        enabled: false
      startup:
        enabled: false
