---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app telerising
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    controllers:
      telerising:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          hostUsers: false
        containers:
          app:
            image:
              repository: ad0lar/telerising-easy4me
              tag: 1760808667-v0.14.9-4c6873e-amd64@sha256:0a867692fc7da106dca569e3a05a5127e8cedd3d5f4fd0ee274df4b9db45d490
            env:
              TZ: ${TZ}
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 512Mi

    service:
      app:
        controller: telerising
        ports:
          http:
            port: 5000
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https

    persistence:
      config:
        existingClaim: *app
        advancedMounts:
          telerising:
            app:
              - path: /telerising
                subPath: telerising
      tmpfs:
        type: emptyDir
        advancedMounts:
          telerising:
            app:
              - path: /var/log
                subPath: log
              - path: /tmp
                subPath: tmp
