---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dispatcharr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      dispatcharr:
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18
            env:
              TZ: ${TZ}
            envFrom: &envFrom
              - secretRef:
                  name: dispatcharr-secret
        pod:
          hostUsers: false
          resourceClaims:
            - name: gpu
              resourceClaimTemplateName: dispatcharr-gpu
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-vpn",
                "namespace": "networking",
                "ips": ["192.168.70.10/24"],
                "mac": "2e:54:30:22:3f:74"
              }]
        containers:
          app:
            image: &image
              repository: ghcr.io/dispatcharr/dispatcharr
              tag: 0.19.0@sha256:8b53fbe12122e827034a6fb0a4ab9a9b8d31699587dca6d6d6394619d44dbb16
            env: &env
              TZ: ${TZ}
              DISPATCHARR_ENV: modular
              DISPATCHARR_LOG_LEVEL: info
              DISPATCHARR_PORT: &port 80
              REDIS_HOST: dragonfly.databases.svc.cluster.local
              REDIS_PORT: 6379
              REDIS_DB: 9
              PYTHONDONTWRITEBYTECODE: 1
            envFrom: *envFrom
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 100m
              limits:
                memory: 3Gi

          celery:
            image: *image
            command: ["/app/docker/entrypoint.celery.sh"]
            env:
              <<: *env
              DJANGO_SETTINGS_MODULE: dispatcharr.settings
              PYTHONUNBUFFERED: 1
            envFrom: *envFrom
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 500Mi
    service:
      app:
        ports:
          http:
            port: *port
          metrics:
            port: 9192
    serviceMonitor:
      app:
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
    route:
      external:
        hostnames:
          - "{{.Release.Name}}.${SECRET_DOMAIN}"
          - "stream.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - name: dispatcharr
                port: *port
    persistence:
      data:
        existingClaim: dispatcharr
        globalMounts:
          - path: /data
            subPath: data
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
