apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: headers
  namespace: networking
spec:
  headers:
    # sslRedirect: true #Deprecated
    sslHost: "${SECRET_DOMAIN}"
    stsSeconds: 315360000
    stsIncludeSubdomains: true
    stsPreload: true
    forceSTSHeader: true
    frameDeny: true
    #customFrameOptionsValue: "allow-from https:${SECRET_DOMAIN}"
    referrerPolicy: "same-origin"
    contentTypeNosniff: true
    browserXssFilter: true
    #hostsProxyHeaders: X-Forwarded-Host
