---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: atuin-secret
spec:
  target:
    deletionPolicy: Delete
    template:
      type: Opaque
      data:
        ATUIN_DB_URI: |-
          postgres://{{ .ATUIN_POSTGRES_USER }}:{{ .ATUIN_POSTGRES_PASS }}@postgres16-rw.databases.svc.cluster.local/atuin
        INIT_POSTGRES_DBNAME: atuin
        INIT_POSTGRES_HOST: postgres16-rw.databases.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .ATUIN_POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .ATUIN_POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  data:
    - secretKey: ATUIN_POSTGRES_USER
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 18b10145-0d9a-4e33-9d24-ccb36ade05ca
        property: pg_user
    - secretKey: ATUIN_POSTGRES_PASS
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 18b10145-0d9a-4e33-9d24-ccb36ade05ca
        property: pg_password
    - secretKey: POSTGRES_SUPER_PASS
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore
      remoteRef:
        key: 2ad3fcad-e666-4701-b44c-a4e6e5cc5da3
        property: password
