---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomization
  - ./cloudflare-ddns/ks.yaml
  - ./external-dns/ks.yaml
  - ./external-services/ks.yaml
  - ./nginx/ks.yaml
