---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name:  &appname immich
  namespace: &namespace default
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  # components:
  #   - ../../../../flux/components/keda/nfs-scaler
  dependsOn:
    - name: cloudnative-pg-cluster
      namespace: databases
    - name: dragonfly-cluster
      namespace: databases
    - name: external-secrets-stores
      namespace: kube-system
    # - name: keda
    #   namespace: monitoring
  path: ./kubernetes/apps/default/immich/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  interval: 30m
  retryInterval: 1m
  timeout: 3m
  postBuild:
    substitute:
      APP: *appname
