---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex-trakt-sync
spec:
  chart:
    spec:
      chart: app-template
      version: 3.4.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 30m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: plex
      namespace: default
  values:
    controllers:
      trakt-sync:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"

        statefulset:
          volumeClaimTemplates:
            - name: config
              accessMode: ReadWriteOnce
              size: 1Gi
              storageClass: longhorn
              globalMounts:
                - path: /app/config

        pod:
          enableServiceLinks: false
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            image:
              repository: ghcr.io/taxel/plextraktsync
              tag: 0.31.14
            args:
              - watch
            env:
              PLEX_BASEURL: http://plex.default.svc.cluster.local:32400
              PLEX_LOCALURL: http://plex.default.svc.cluster.local:32400
              PLEX_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: plex-trakt-sync-secret
                    key: PLEX_TOKEN
              PLEX_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: plex-trakt-sync-secret
                    key: PLEX_USERNAME
              TRAKT_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: plex-trakt-sync-secret
                    key: TRAKT_USERNAME
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 18m
                memory: 200Mi
              limits:
                memory: 200Mi

    persistence:
      config-yaml:
        type: configMap
        name: plex-tract-sync-configmap
        globalMounts:
          - path: /app/config/config.yml
            subPath: config.yml
            readOnly: true
