---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: lidarr-secret
spec:
  target:
    deletionPolicy: Delete
    template:
      type: Opaque
      data:
        # App
        LIDARR__AUTH__APIKEY: "{{ .LIDARR_API_KEY }}"
        LIDARR__POSTGRES__HOST: &dbHost postgres16-rw.databases.svc.cluster.local
        LIDARR__POSTGRES__PORT: "5432"
        LIDARR__POSTGRES__USER: &dbUser "{{ .LIDARR_POSTGRES_USER }}"
        LIDARR__POSTGRES__PASSWORD: &dbPass "{{ .LIDARR_POSTGRES_PASSWORD }}"
        LIDARR__POSTGRES__MAINDB: lidarr_main
        LIDARR__POSTGRES__LOGDB: lidarr_log
        # Postgres Init
        INIT_POSTGRES_DBNAME: lidarr_main lidarr_log
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  data:
    - secretKey: LIDARR_API_KEY
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: d7edaa7b-1f1e-41fe-ab4c-a39bd034457c
        property: token
    - secretKey: LIDARR_POSTGRES_USER
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: d7edaa7b-1f1e-41fe-ab4c-a39bd034457c
        property: pg_user
    - secretKey: LIDARR_POSTGRES_PASSWORD
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: d7edaa7b-1f1e-41fe-ab4c-a39bd034457c
        property: pg_password
    - secretKey: POSTGRES_SUPER_USER
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore
      remoteRef:
        key: 2ad3fcad-e666-4701-b44c-a4e6e5cc5da3
        property: username
    - secretKey: POSTGRES_SUPER_PASS
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore
      remoteRef:
        key: 2ad3fcad-e666-4701-b44c-a4e6e5cc5da3
        property: password
