---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app adventurelog
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:

      backend:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18
            envFrom: &envFrom
              - secretRef:
                  name: adventurelog-secret
        containers:
          app:
            image:
              repository: ghcr.io/seanmorley15/adventurelog-backend
              tag: latest@sha256:e2eedf37e5d228e2f99f907de3269b4fadf0833c785a961b1aa7cb7a0b8e2be8
            envFrom: *envFrom
            env:
              PUBLIC_URL: https://adventurelog-backend.${SECRET_DOMAIN}
              FRONTEND_URL: https://adventurelog.${SECRET_DOMAIN}
              CSRF_TRUSTED_ORIGINS: https://adventurelog-backend.${SECRET_DOMAIN},https://adventurelog.${SECRET_DOMAIN}
              DEBUG: True
              DJANGO_ADMIN_USERNAME: admin
              EMAIL_BACKEND: email
              EMAIL_HOST: smtp-relay.default.svc.cluster.local
              EMAIL_PORT: 2525
              EMAIL_USE_TLS: False
              DEFAULT_FROM_EMAIL: ${SECRET_SMTP_SENDER}
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                memory: 512Mi

      frontend:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/seanmorley15/adventurelog-frontend
              tag: latest@sha256:de5066d542cda5bdeac99a5ea5709ec953522e28df64c19d55ca741b91283a9e
            envFrom: *envFrom
            env:
              PUBLIC_SERVER_URL: "http://adventurelog-backend.default.svc.cluster.local:8000"
              ORIGIN: https://adventurelog.${SECRET_DOMAIN}
              BODY_SIZE_LIMIT: Infinity
            resources:
              requests:
                cpu: 5m
                memory: 256Mi
              limits:
                memory: 256Mi

    service:
      frontend:
        controller: frontend
        ports:
          http:
            port: 3000
      backend:
        controller: backend
        ports:
          http:
            port: 80
          base:
            port: 8000

    route:
      frontend:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - identifier: frontend
                port: 3000
      backend:
        hostnames:
          - "{{ .Release.Name }}-backend.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - identifier: backend
                port: 80

    persistence:
      config:
        enabled: true
        existingClaim: *app
        advancedMounts:
          backend:
            app:
              - path: /code/media
