---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      server:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          01-init-db:
            envFrom:
              - secretRef:
                  name: immich-secret
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16.3
        pod:
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
                  app.kubernetes.io/instance: *app
                  app.kubernetes.io/component: server
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v1.117.0@sha256:ac9fb82f2be3cc60d4e0c7f1ceb371d401d52573e387834d7a82776116458242
            envFrom: &envFrom
              - secretRef:
                  name: immich-secret
              - configMapRef:
                  name: immich-config
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                gpu.intel.com/i915: 1
                cpu: 5m
                memory: 1Gi
              limits:
                gpu.intel.com/i915: 1
                memory: 1Gi

      machine-learning:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: feature.node.kubernetes.io/cpu-cpuid.AVX2
                        operator: In
                        values:
                          - "true"
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v1.117.0@sha256:1221bc54568a0779227baeaa4282bb0e0db50831b66f9ac9afa9d78513df36ad
            envFrom: *envFrom
            resources:
              requests:
                cpu: 5m
                memory: 1889Mi
              limits:
                memory: 4096Mi

    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups: [44, 105]

    service:
      server:
        controller: server
        ports:
          http:
            port: 3001
      machine-learning:
        controller: machine-learning
        ports:
          http:
            port: 3003

    ingress:
      app:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        hosts:
          - host: &host immich.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: server
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      library:
        type: nfs
        server: nas.${SECRET_HOME_DOMAIN}
        path: /spool/photos/immich/
        globalMounts:
          - path: /usr/src/app/upload
      external:
        type: nfs
        server: nas.${SECRET_HOME_DOMAIN}
        path: /spool/photos/Plex_Album/
        globalMounts:
          - path: /external-library/
      cache:
        type: emptyDir
        advancedMounts:
          machine-learning:
            app:
              - path: /cache
