---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: tdarr
  namespace: flux-system
spec:
  dependsOn:
    - name: longhorn
    - name: intel-device-plugin-gpu
  path: ./kubernetes/apps/default/tdarr/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-kubernetes
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta2
      kind: HelmRelease
      name: tdarr
      namespace: default
  interval: 30m
  retryInterval: 1m
  timeout: 3m
