# /etc/hdparm.conf
/dev/disk/by-id/ata-WDC_WD80EDAZ-11TA3A0_VGH5KMMG {
    acoustic_management = 128
    apm = 127
    force_spindown_time = 240
    write_cache = on
}
/dev/disk/by-id/ata-WDC_WD80EZAZ-11TDBA0_7HKMUADJ {
    acoustic_management = 128
    apm = 127
    force_spindown_time = 240
    write_cache = on
}
/dev/disk/by-id/ata-TOSHIBA_MG08ACA16TE_Y250A2KKFVGG {
    apm = 127
    force_spindown_time = 240
    write_cache = on
}
/dev/disk/by-id/ata-TOSHIBA_MG08ACA16TE_41R0A3UXF57H {
    apm = 127
    force_spindown_time = 240
    write_cache = on
}
/dev/disk/by-id/usb-Seagate_Desktop_NA7HTGB2-0:0 {
    apm = 64
    force_spindown_time = 60
    write_cache = on
}

