apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "${SECRET_CERT_NAME}"
spec:
  secretName: "${SECRET_CERT_NAME}-prod-tls"
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  dnsNames:
    - "${SECRET_DOMAIN}"
    - "*.${SECRET_DOMAIN}"
