---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-kube-state-metrics
  namespace: flux-system
spec:
  targetNamespace: monitoring
  path: ./kubernetes/apps/monitoring/kube-state-metrics/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-kubernetes
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
