---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: plex-meta-manager
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
      # cronjob:
      #   schedule: 0 6 * * *
    image:
      repository: docker.io/meisnate12/plex-meta-manager
      tag: v1.19.1
    env:
      TZ: "${TZ}"
      PUID: "1000"
      PGID: "1000"
      PMM_TIME: "06:00"
      # Runs PMM immediately. Used to test
      PMM_RUN: false
      PMM_DEBUG: true
      PMM_READ_ONLY_CONFIG: true

    service:
      main:
        enabled: false
        ports:
          http:
            port: 3030

    # volumeClaimTemplates:
    #   - name: config
    #     mountPath: /config
    #     accessMode: ReadWriteOnce
    #     size: 128Mi
    #     storageClass: longhorn

    persistence:
      config:
        enabled: true
        existingClaim: plex-meta-manager
      config-file:
        enabled: true
        type: configMap
        name: pmm-config
        mountPath: /config/config.yml
        subPath: config.yaml
        readOnly: true
      pmm-tv:
        enabled: true
        type: configMap
        name: pmm-tv
        subPath: tv.yaml
        mountPath: config/tv.yaml
        readOnly: false
      pmm-movies:
        enabled: true
        type: configMap
        name: pmm-movies
        subPath: movies.yaml
        mountPath: config/movies.yaml
        readOnly: false
      # scripts:
      #   enabled: true
      #   type: configMap
      #   name: pmm-scripts
      #   mountPath: /scripts
      #   defaultMode: 511
