apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kopia
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    global:
      nameOverride: *app
    image:
      repository: ghcr.io/onedr0p/kopia
      tag: 0.13.0@sha256:ee6608635237c9ddf3ec5b456122cb60f0195c5cad84b06e945498f2338bff59

    service:
      main:
        ports:
          http:
            port: 80
          metrics:
            enabled: true
            port: 8080

    ingress:
      main:
        enabled: true
        primary: true
        ingressClassName: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.middlewares: >-
            networking-headers@kubernetescrd,
            networking-local-only@kubernetescrd
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: ${SECRET_CERT_NAME}-prod-tls

    podAnnotations:
      configmap.reloader.stakater.com/reload: kopia-config

    command: kopia
    args:
      - server
      - start
      - --insecure
      - --address
      - 0.0.0.0:80
      - --metrics-listen-addr
      - 0.0.0.0:8080
      - --without-password

    persistence:
      config:
        enabled: true
        type: "configMap"
        name: "kopia-config"
        mountPath: /config/repository.config
        subPath: repository.config
        readOnly: true

      backup:
        enabled: true
        type: nfs
        mountPath: /backups
        server: ${NAS_ADDR}
        path: ${BACKUPDIR}/kubernetes/kopia-backups

    resources:
      requests:
        cpu: 5m
        memory: 52M
      limits:
        memory: 152M
    env:
      KOPIA_PASSWORD: none
