---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: pihole
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      main:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          main:
            image:
              repository: docker.io/cbcrowe/pihole-unbound
              tag: latest
            env:
              TZ: ${TZ}
              WEBTHEME: default-dark
              REV_SERVER: true
              PIHOLE_DNS_: 127.0.0.1#5335
              DNSSEC: "true"
              DNSMASQ_LISTENING: single
            envFrom:
              - secretRef:
                  name: pihole-secret

            resources:
              requests:
                cpu: 5m
                memory: 128M
        statefulset:
          volumeClaimTemplates:
            - name: config
              accessMode: ReadWriteOnce
              size: 512Mi
              storageClass: longhorn
              globalMounts:
                - path: /etc
        pod:
            securityContext:
              runAsUser: 1000
              runAsGroup: 1000
              fsGroup: 1000
              fsGroupChangePolicy: "OnRootMismatch"
    service:
      main:
        type: LoadBalancer
        annotations:
          coredns.io/hostname: pihole.${SECRET_DOMAIN}
          io.cilium/lb-ipam-ips: 192.168.178.6
        externalTrafficPolicy: Cluster
        ports:
          http:
            enabled: true
            port: 80
          https:
            enabled: true
            port: 443
          dns-tcp:
            enabled: true
            port: 53
            protocol: TCP
            targetPort: 53
          dns-udp:
            enabled: true
            port: 53
            protocol: UDP
            targetPort: 53

