apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app sonarr
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5

  values:
    initContainers:
      01-init-db:
        image: ghcr.io/onedr0p/postgres-init:14.9
        imagePullPolicy: IfNotPresent
        envFrom: &envFrom
          - secretRef:
              name: sonarr-secret
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      repository: ghcr.io/onedr0p/sonarr-develop
      pullPolicy: IfNotPresent
      tag: 4.0.0.657@sha256:aa89fceda7bc8412ca1bc750730cb0d6de67d0fd320c8193b3f657d477d8864e

    env:
      TZ: ${TZ}
      PUID: "1000"
      PGID: "1000"
      SONARR__API_KEY: ${SONARR_API_KEY}
      SONARR__LOG_LEVEL: info
      SONARR__THEME: dark
      SONARR__AUTHENTICATION_METHOD: External
      SONARR__AUTHENTICATION_REQUIRED: DisabledForLocalAddresses

    envFrom: *envFrom

    service:
      main:
        ports:
          http:
            port: 8989

    ingress:
      main:
        enabled: true
        primary: true
        ingressClassName: traefik
        annotations:
          external-dns.alpha.kubernetes.io/target: ipv4.${SECRET_DOMAIN}
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.middlewares: >-
            networking-headers@kubernetescrd,
            networking-authelia@kubernetescrd
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: ${SECRET_CERT_NAME}-prod-tls

    volumeClaimTemplates:
      - name: config
        mountPath: /config
        accessMode: ReadWriteOnce
        size: 5Gi
        storageClass: longhorn

    persistence:
      nfs-media:
        enabled: true
        type: nfs
        server: ${NAS_ADDR}
        path: ${MEDIADIR}
        mountPath: /media
        readOnly: false

    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: OnRootMismatch

    resources:
      requests:
        cpu: 5m
        memory: 347M
      limits:
        memory: 347M
