---
# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
clusterName: &clusterName main

endpoint: "https://main.k8s.internal:6443"

clusterPodNets:
  - 10.42.0.0/16
clusterSvcNets:
  - 10.43.0.0/16

# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.11.0
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.34.0

cniConfig:
  name: none

additionalApiServerCertSans: &sans
  - main.k8s.internal
  - &talosControlplaneVip 192.168.20.9
  - 127.0.0.1 # KubePrism
additionalMachineCertSans: *sans

nodes:
  - hostname: nuc11.internal
    ipAddress: 192.168.20.11
    controlPlane: true
    nodeLabels:
      intel.feature.node.kubernetes.io/gpu: "true"
    installDiskSelector:
      model: SanDisk SD8S*
    networkInterfaces:
      - interface: bond0
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: 1c:69:7a:ac:*
              driver: igc
        dhcp: true
        vip:
          ip: *talosControlplaneVip
        vlans:
          - &vlan30
            vlanId: 30
            dhcp: true
            mtu: 1500
            dhcpOptions:
              routeMetric: 4096
    patches:
      - |-
        machine:
          sysfs:
            devices.system.cpu.cpu0.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu1.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu2.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu3.cpufreq.energy_performance_preference: balance_power

  - hostname: nuc13.internal
    ipAddress: 192.168.20.13
    controlPlane: true
    nodeLabels:
      intel.feature.node.kubernetes.io/gpu: "true"
    installDiskSelector:
      model: SPCC Solid*
    networkInterfaces:
      - interface: bond0
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: 48:21:0b:61:*
              driver: igc
        dhcp: true
        vip:
          ip: *talosControlplaneVip
        vlans:
          - *vlan30
    patches:
      - |-
        machine:
          sysfs:
            devices.system.cpu.cpu0.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu1.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu2.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu3.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu4.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu5.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu6.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu7.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu8.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu9.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu10.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu11.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu12.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu13.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu14.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu15.cpufreq.energy_performance_preference: balance_power

  - hostname: nuc14.internal
    ipAddress: 192.168.20.14
    controlPlane: true
    nodeLabels:
      intel.feature.node.kubernetes.io/gpu: "true"
    installDiskSelector:
      model: SSDPR-CX400*
    networkInterfaces:
      - interface: bond0
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: 88:ae:dd:66:*
              driver: igc
        dhcp: true
        vip:
          ip: *talosControlplaneVip
        vlans:
          - *vlan30
    patches:
      - |-
        machine:
          sysfs:
            devices.system.cpu.cpu0.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu1.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu2.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu3.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu4.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu5.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu6.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu7.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu8.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu9.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu10.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu11.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu12.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu13.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu14.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu15.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu16.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu17.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu18.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu19.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu20.cpufreq.energy_performance_preference: balance_power
            devices.system.cpu.cpu21.cpufreq.energy_performance_preference: balance_power

controlPlane:
  nodeLabels:
    topology.kubernetes.io/region: *clusterName
    topology.kubernetes.io/zone: m

  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/i915
          - siderolabs/intel-ucode

  patches:
    # Configure containerd
    - |-
      machine:
        files:
          - op: create
            path: /etc/cri/conf.d/20-customization.part
            content: |
              [plugins]
                [plugins."io.containerd.grpc.v1.cri"]
                  enable_unprivileged_ports = true
                  enable_unprivileged_icmp = true
              [plugins."io.containerd.cri.v1.images"]
                discard_unpacked_layers = false
              [plugins."io.containerd.cri.v1.runtime"]
                device_ownership_from_security_context = true

    # Disable search domain everywhere
    - |-
      machine:
        network:
          disableSearchDomain: true

    # Enable host dns
    - |-
      machine:
        features:
          hostDNS:
            enabled: true
            resolveMemberNames: true
            forwardKubeDNSToHost: false

    # Enable KubePrism
    - |-
      machine:
        features:
          kubePrism:
            enabled: true
            port: 7445

    # Mount openebs-hostpath in kubelet
    - |-
      machine:
        kubelet:
          extraMounts:
            - destination: /var/openebs/local
              type: bind
              source: /var/openebs/local
              options: ["bind", "rshared", "rw"]

    # Configure kubelet
    - |-
      machine:
        kubelet:
          extraConfig:
            maxPods: 150
          nodeIP:
            validSubnets:
                - 192.168.20.0/24

    # Configure cluster
    - |-
      cluster:
        allowSchedulingOnControlPlanes: true
        apiServer:
          extraArgs:
            enable-aggregator-routing: "true"
            runtime-config: admissionregistration.k8s.io/v1alpha1=true
        controllerManager:
          extraArgs:
            bind-address: 0.0.0.0
        coreDNS:
            disabled: true
        proxy:
          disabled: true
        scheduler:
          extraArgs:
            bind-address: 0.0.0.0
          config:
            apiVersion: kubescheduler.config.k8s.io/v1
            kind: KubeSchedulerConfiguration
            profiles:
              - schedulerName: default-scheduler
                plugins:
                  score:
                    disabled:
                      - name: ImageLocality
                pluginConfig:
                  - name: PodTopologySpread
                    args:
                      defaultingType: List
                      defaultConstraints:
                        - maxSkew: 1
                          topologyKey: kubernetes.io/hostname
                          whenUnsatisfiable: ScheduleAnyway

    # Configure etcd
    - |-
      cluster:
        etcd:
          advertisedSubnets:
            - 192.168.20.0/24

    # Configure NFS mount options
    - |
      machine:
        files:
          - op: overwrite
            path: /etc/nfsmount.conf
            permissions: 0o644
            content: |
              [ NFSMount_Global_Options ]
              nfsvers=4.2
              hard=True
              noatime=True
              nconnect=16

    # Configure static host entries
    - |-
      machine:
        network:
          extraHostEntries:
            - ip: 192.168.20.9
              aliases:
                - main.k8s.internal

    # Configure custom sysctls
    - |-
      machine:
        sysctls:
          fs.inotify.max_user_instances: "8192"      # Watchdog
          fs.inotify.max_user_watches: "1048576"     # Watchdog
          net.core.rmem_max: "67108864"              # Cloudflared / QUIC
          net.core.wmem_max: "67108864"              # Cloudflared / QUIC
          net.ipv4.neigh.default.gc_thresh1: "4096"  # Prevent ARP cache overflows
          net.ipv4.neigh.default.gc_thresh2: "8192"  # Prevent ARP cache overflows
          net.ipv4.neigh.default.gc_thresh3: "16384" # Prevent ARP cache overflows
          net.ipv4.tcp_fastopen: "3"                 # Send and accept data in the opening SYN packet
          user.max_user_namespaces: "11255"          # User namespaces

    # Disable default API server admission plugins.
    - |-
      - op: remove
        path: /cluster/apiServer/admissionControl

    # Enable K8s Talos API Access
    - |-
      machine:
        features:
          kubernetesTalosAPIAccess:
            enabled: true
            allowedRoles:
              - os:admin
            allowedKubernetesNamespaces:
              - actions-runner-system
              - system-upgrade
