---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: multus
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 1.0.0
  url: oci://ghcr.io/bjw-s-labs/helm/multus
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: multus
spec:
  chartRef:
    kind: OCIRepository
    name: multus
  interval: 30m
  values:
    cni-plugins:
      image:
        repository: ghcr.io/home-operations/cni-plugins
        tag: 1.8.0
    multus:
      image:
        repository: ghcr.io/k8snetworkplumbingwg/multus-cni
        tag: v4.2.2
      resources:
        requests:
          cpu: 10m
        limits:
          memory: 32Mi
    cni:
      netPath: /etc/cni/net.d
      binPath: /opt/cni/bin
