---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudflared-tunnel-secret
spec:
  target:
    deletionPolicy: Delete
    template:
      type: Opaque
      data:
        TUNNEL_TOKEN: |-
          {{ toJson (dict "a" .CLOUDFLARE_ACCOUNT_TAG "t" .CLOUDFLARE_TUNNEL_ID "s" .CLOUDFLARE_TUNNEL_SECRET) | b64enc }}
  data:
    - secretKey: CLOUDFLARE_ACCOUNT_TAG
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 90e5e570-8a6a-42a3-87fd-4d93c591dc6d
        property: account_tag
    - secretKey: CLOUDFLARE_TUNNEL_SECRET
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 90e5e570-8a6a-42a3-87fd-4d93c591dc6d
        property: tunnel_secret
    - secretKey: CLOUDFLARE_TUNNEL_ID
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 90e5e570-8a6a-42a3-87fd-4d93c591dc6d
        property: tunnel_id
