{
  "storage": {
    "type": "s3",
    "config": {
      "bucket": "philipp-backup",
      "access-key": "{{ .MINIO_ACCESS_KEY }}",
      "secret-access-key": "{{ .MINIO_SECRET_KEY }}",
      "endpoint": "{{ .S3_ENDPOINT }}"
    }
  },
  "caching": {
    "cacheDirectory": "/app/cache",
    "maxCacheSize": 5242880000,
    "maxMetadataCacheSize": 5242880000,
    "maxListCacheDuration": 30
  },
  "hostname": "nas.${SECRET_DOMAIN}",
  "username": "philipp",
  "description": "nas",
  "enableActions": false,
  "formatBlobCacheDuration": 900000000000
}
