---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app external-dns
spec:
  interval: 15m
  chart:
    spec:
      chart: external-dns
      version: 1.15.0
      sourceRef:
        kind: HelmRepository
        name: external-dns
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    serviceMonitor:
      enabled: false
    logLevel: debug
    policy: upsert-only
    registry: noop
    provider: pihole
    sources: ["ingress", "service"]
    env:
      - name: EXTERNAL_DNS_PIHOLE_SERVER
        value: http://192.168.178.65
      - name: EXTERNAL_DNS_PIHOLE_PASSWORD
        valueFrom:
          secretKeyRef:
            name: external-dns-secret
            key: PIHOLE_PASSWORD
    domainFilters: ["${SECRET_HOME_DOMAIN}"]
    podAnnotations:
      secret.reloader.stakater.com/reload: external-dns-secret
