---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authelia-secret
spec:
  target:
    deletionPolicy: Delete
    template:
      type: Opaque
      data:
        # App
        AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD: "{{ .LLDAP_LDAP_USER_PASS }}"
        AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET: "{{ .AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET }}"
        OIDC_JWKS_KEY: "{{ .AUTHELIA_IDENTITY_PROVIDERS_OIDC_ISSUER_PRIVATE_KEY }}"
        AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET: "{{ .AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET }}"
        AUTHELIA_SESSION_SECRET: "{{ .AUTHELIA_SESSION_SECRET }}"
        AUTHELIA_STORAGE_ENCRYPTION_KEY: "{{ .AUTHELIA_STORAGE_ENCRYPTION_KEY }}"
        AUTHELIA_STORAGE_POSTGRES_DATABASE: &dbName authelia
        AUTHELIA_STORAGE_POSTGRES_ADDRESS: &dbHost postgres-rw.databases.svc.cluster.local
        AUTHELIA_STORAGE_POSTGRES_USERNAME: &dbUser "{{ .AUTHELIA_STORAGE_POSTGRES_USERNAME }}"
        AUTHELIA_STORAGE_POSTGRES_PASSWORD: &dbPass "{{ .AUTHELIA_STORAGE_POSTGRES_PASSWORD }}"
        # OAUTH Apps
        GRAFANA_OAUTH_CLIENT_SECRET: "{{ .GRAFANA_OAUTH_CLIENT_SECRET }}"
        GRAFANA_OAUTH_DIGEST: "{{ .GRAFANA_OAUTH_DIGEST }}"
        NEXTCLOUD_OAUTH_CLIENT_SECRET: "{{ .NEXTCLOUD_OAUTH_CLIENT_SECRET }}"
        NEXTCLOUD_OAUTH_DIGEST: "{{ .NEXTCLOUD_OAUTH_DIGEST }}"
        IMMICH_OAUTH_CLIENT_SECRET: "{{ .IMMICH_OAUTH_CLIENT_SECRET }}"
        IMMICH_OAUTH_DIGEST: "{{ .IMMICH_OAUTH_DIGEST }}"
        MINIO_OAUTH_CLIENT_SECRET: "{{ .MINIO_OAUTH_CLIENT_SECRET }}"
        MINIO_OAUTH_DIGEST: "{{ .MINIO_OAUTH_DIGEST }}"
        AUDIOBOOKSHELF_OAUTH_CLIENT_SECRET: "{{ .AUDIOBOOKSHELF_OAUTH_CLIENT_SECRET }}"
        AUDIOBOOKSHELF_OAUTH_DIGEST: "{{ .AUDIOBOOKSHELF_OAUTH_DIGEST }}"
        TANDOOR_OAUTH_CLIENT_SECRET: "{{ .TANDOOR_OAUTH_CLIENT_SECRET }}"
        TANDOOR_OAUTH_DIGEST: "{{ .TANDOOR_OAUTH_DIGEST }}"
        PAPERLESS_OAUTH_CLIENT_SECRET: "{{ .PAPERLESS_OAUTH_CLIENT_SECRET }}"
        PAPERLESS_OAUTH_DIGEST: "{{ .PAPERLESS_OAUTH_DIGEST }}"
        KYOO_OAUTH_CLIENT_SECRET: "{{ .KYOO_OAUTH_CLIENT_SECRET }}"
        KYOO_OAUTH_DIGEST: "{{ .KYOO_OAUTH_DIGEST }}"
        ADVENTURELOG_OAUTH_CLIENT_SECRET: "{{ .ADVENTURELOG_OAUTH_CLIENT_SECRET }}"
        ADVENTURELOG_OAUTH_DIGEST: "{{ .ADVENTURELOG_OAUTH_DIGEST }}"
        # DB
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  data:
    - secretKey: AUTHELIA_STORAGE_POSTGRES_USERNAME
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 21d462c3-01e4-461c-bd69-0e23ebd6b164
        property: pg_user
    - secretKey: AUTHELIA_STORAGE_POSTGRES_PASSWORD
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 21d462c3-01e4-461c-bd69-0e23ebd6b164
        property: pg_password
    - secretKey: AUTHELIA_IDENTITY_PROVIDERS_OIDC_ISSUER_PRIVATE_KEY
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 21d462c3-01e4-461c-bd69-0e23ebd6b164
        property: oidc_issuer_private_key
        decodingStrategy: Base64
    - secretKey: AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 21d462c3-01e4-461c-bd69-0e23ebd6b164
        property: jwt_secret
    - secretKey: AUTHELIA_SESSION_SECRET
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 21d462c3-01e4-461c-bd69-0e23ebd6b164
        property: session_secret
    - secretKey: AUTHELIA_STORAGE_ENCRYPTION_KEY
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 21d462c3-01e4-461c-bd69-0e23ebd6b164
        property: storage_encryption_key
    - secretKey: AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 21d462c3-01e4-461c-bd69-0e23ebd6b164
        property: oidc_hmac_secret
    - secretKey: LLDAP_LDAP_USER_PASS
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore
      remoteRef:
        key: 067f068f-0447-4167-a0a8-a7773a3aa5f1
        property: password
    - secretKey: POSTGRES_SUPER_PASS
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore
      remoteRef:
        key: 2ad3fcad-e666-4701-b44c-a4e6e5cc5da3
        property: password
    - secretKey: PAPERLESS_OAUTH_CLIENT_SECRET
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 6dad7c46-0bce-4768-93ce-97b7ee5f83cd
        property: oauth_client_secret
    - secretKey: PAPERLESS_OAUTH_DIGEST
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 6dad7c46-0bce-4768-93ce-97b7ee5f83cd
        property: oauth_digest
    - secretKey: GRAFANA_OAUTH_CLIENT_SECRET
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 3a6a4796-6f02-45c3-b39e-067267b6ebfc
        property: oauth_client_secret
    - secretKey: GRAFANA_OAUTH_DIGEST
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 3a6a4796-6f02-45c3-b39e-067267b6ebfc
        property: oauth_digest
    - secretKey: NEXTCLOUD_OAUTH_CLIENT_SECRET
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 9af7a56c-e96c-4ce0-b952-081affcad60b
        property: oauth_client_secret
    - secretKey: NEXTCLOUD_OAUTH_DIGEST
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 9af7a56c-e96c-4ce0-b952-081affcad60b
        property: oauth_digest
    - secretKey: IMMICH_OAUTH_CLIENT_SECRET
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: a43f1a71-07fd-4649-8f58-3a024e5d41c8
        property: oauth_client_secret
    - secretKey: IMMICH_OAUTH_DIGEST
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: a43f1a71-07fd-4649-8f58-3a024e5d41c8
        property: oauth_digest
    - secretKey: MINIO_OAUTH_CLIENT_SECRET
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: ddc59a49-292c-482a-aaaf-5f43d869189d
        property: oauth_client_secret
    - secretKey: MINIO_OAUTH_DIGEST
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: ddc59a49-292c-482a-aaaf-5f43d869189d
        property: oauth_digest
    - secretKey: AUDIOBOOKSHELF_OAUTH_CLIENT_SECRET
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 3656fdac-a0d4-4d05-8c90-ab180e5853da
        property: oauth_client_secret
    - secretKey: AUDIOBOOKSHELF_OAUTH_DIGEST
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 3656fdac-a0d4-4d05-8c90-ab180e5853da
        property: oauth_digest
    - secretKey: TANDOOR_OAUTH_CLIENT_SECRET
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: a7bb0a86-14c7-4748-9d35-2d425dc2180b
        property: oauth_client_secret
    - secretKey: TANDOOR_OAUTH_DIGEST
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: a7bb0a86-14c7-4748-9d35-2d425dc2180b
        property: oauth_digest
    - secretKey: KYOO_OAUTH_CLIENT_SECRET
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 8b972093-ea0b-4af3-81d0-43b0bb9283f8
        property: oauth_client_secret
    - secretKey: KYOO_OAUTH_DIGEST
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 8b972093-ea0b-4af3-81d0-43b0bb9283f8
        property: oauth_digest
    - secretKey: ADVENTURELOG_OAUTH_CLIENT_SECRET
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: de49178f-239e-4590-b281-e11fcb718dd9
        property: oauth_client_secret
    - secretKey: ADVENTURELOG_OAUTH_DIGEST
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: de49178f-239e-4590-b281-e11fcb718dd9
        property: oauth_digest
