---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      server:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          01-init-db:
            envFrom: &envFrom
              - secretRef:
                  name: immich-secret
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.4.0@sha256:7e2d0df478651551df3358072e68c235200b875eccd6eb4a5c5d8879a7095cf4
            env:
              TZ: ${TZ}
              REDIS_HOSTNAME: dragonfly.databases.svc.cluster.local
              REDIS_PORT: "6379"
              REDIS_DBINDEX: "1"
              IMMICH_MEDIA_LOCATION: /usr/src/app/upload
            envFrom: *envFrom
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 5m
                memory: 1Gi
              limits:
                memory: 2Gi

      machine-learning:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.4.0@sha256:204825c8cc626a3f44fb4b61f30ca5c76c3b4c557c9fb8bfc719902bf88daae4
            env:
              MPLCONFIGDIR: "/cache/matplotlib"
            envFrom: *envFrom
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 5m
                memory: 2Gi
              limits:
                memory: 5Gi

    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: immich-gpu
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"

    service:
      server:
        controller: server
        ports:
          http:
            port: 2283
      machine-learning:
        controller: machine-learning
        ports:
          http:
            port: 3003

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
            - identifier: server
              port: 2283

    persistence:
      library:
        type: nfs
        server: nas.${SECRET_HOME_DOMAIN}
        path: /spool/photos/immich/
        globalMounts:
          - path: /usr/src/app/upload
      external:
        type: nfs
        server: nas.${SECRET_HOME_DOMAIN}
        path: /spool/photos/Plex_Album/
        globalMounts:
          - path: /external-library/
      machine-learning-cache:
        existingClaim: immich-machine-learning-cache
        advancedMounts:
          machine-learning:
            app:
              - path: /cache
      cache:
        type: emptyDir
        advancedMounts:
          machine-learning:
            app:
              - path: /.cache
      config:
        type: emptyDir
        advancedMounts:
          machine-learning:
            app:
              - path: /.config
