---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tandoor
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  values:
    controllers:
      tandoor:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18@sha256:3c54d39f19fdb82ed5b3f286450e4071133cc6025bd0e25856bc2c522f8fc030
            envFrom: &envFrom
              - secretRef:
                  name: tandoor-secret

        containers:
          app:
            image:
              repository: ghcr.io/tandoorrecipes/recipes
              tag: 2.3.6@sha256:5cd01ba0473a48878db3ed9b2c6f2c5db12b68649e169ce9cfa43f052fb0aa95
            envFrom: *envFrom
            env:
              TZ: ${TZ}
              ENABLE_METRICS: 1
              ENABLE_SIGNUP: 0
              TANDOOR_PORT: &port 80
              GUNICORN_MEDIA: 0
              DEBUG: 0
              SQL_DEBUG: 0
              DEBUG_TOOLBAR: 0
              EMAIL_HOST: smtp-relay.default.svc.cluster.local
              EMAIL_PORT: 2525
              EMAIL_USE_TLS: 0
              EMAIL_USE_SSL: 0
              DEFAULT_FROM_EMAIL: ${SECRET_SMTP_SENDER}
              ALLOWED_HOSTS: "*"
              FRACTION_PREF_DEFAULT: 0
              COMMENT_PREF_DEFAULT: 1
              SHOPPING_MIN_AUTOSYNC_INTERVAL: 5
              SOCIAL_PROVIDERS: allauth.socialaccount.providers.openid_connect
            securityContext:
              allowPrivilegeEscalation: true
              readOnlyRootFilesystem: false
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 1024Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: tandoor
        ports:
          http:
            port: *port

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https

    persistence:
      files:
        existingClaim: *app
        advancedMounts:
          tandoor:
            app:
              - path: /opt/recipes/mediafiles
                subPath: mediafiles
              - path: /opt/recipes/staticfiles
                subPath: staticfiles
      tmpfs:
        type: emptyDir
        advancedMounts:
          tandoor:
            app:
              - path: /opt/recipes/cookbook/static/django_js_reverse
                subPath: django_js_reverse
              - path: /tmp
                subPath: tmp
