---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: openhab
  namespace: default
spec:
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    image:
      repository: docker.io/openhab/openhab
      tag: 4.0.3
    env:
      USER_ID: 1000
      GROUP_ID: 1000
      OPENHAB_HTTP_PORT: "8282"
      OPENHAB_HTTPS_PORT: "8443"
      EXTRA_JAVA_OPTS: "-Duser.timezone=Europe/Berlin -Dlog4j2.formatMsgNoLookups=true"

    # hostNetwork: true
    # dnsPolicy: ClusterFirstWithHostNet
    # podAnnotations:
    #   k8s.v1.cni.cncf.io/networks: macvlan-static-iot-openhab

    service:
      main:
        type: LoadBalancer
        annotations:
          # coredns.io/hostname: openhab.${SECRET_DOMAIN}
          io.cilium/lb-ipam-ips: ${SVC_OPENHAB_ADDR}
        externalTrafficPolicy: Cluster
        ports:
          http:
            port: 8282
          https:
            enabled: true
            port: 8443
          upnp:
            enabled: true
            port: 1900
            protocol: UDP
            targetPort: 1900
          karaf:
            enabled: true
            port: 8101
          mdns:
            enabled: true
            port: 5353
            protocol: UDP
            targetPort: 5353
          # hueemulation:
          #   enabled: true
          #   port: 8080
          #   protocol: TCP
          #   targetPort: 8080
          # sonos:
          #   enabled: true
          #   port: 1400
          #   protocol: TCP
          #   targetPort: 1400
          # chromecast1:
          #   port: 8008
          # chromecast2:
          #   port: 8009
    ingress:
      main:
        enabled: true
        primary: true
        ingressClassName: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.middlewares: >-
            networking-headers@kubernetescrd,
            networking-local-only@kubernetescrd
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: ${SECRET_CERT_NAME}-prod-tls

    persistence:
      conf:
        enabled: true
        mountPath: /openhab/conf
        type: nfs
        server: ${NAS_ADDR}
        path: /spool/openhab/conf
      userdata:
        enabled: true
        mountPath: /openhab/userdata
        type: nfs
        server: ${NAS_ADDR}
        path: /spool/openhab/userdata
    # podSecurityContext:
    #     runAsUser: 1000
    #     runAsGroup: 1000
    #     fsGroup: 1000
    #     fsGroupChangePolicy: OnRootMismatch
    resources:
      requests:
        cpu: 20m
        memory: 1611M
      limits:
        memory: 1611M
