---
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: &name nas-minio
  namespace: monitoring
spec:
  staticConfigs:
    - targets: ["nas.${SECRET_HOME_DOMAIN}:9290"]
  metricsPath: /metrics
  relabelings:
    - action: replace
      targetLabel: job
      replacement: *name
