---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metallb
  namespace: networking
spec:
  interval: 15m
  chart:
    spec:
      # renovate: registryUrl=https://metallb.github.io/metallb
      chart: metallb
      version: 0.13.11
      sourceRef:
        kind: HelmRepository
        name: metallb
        namespace: flux-system
      interval: 15m
  values:
    prometheus:
      serviceAccount: kube-prometheus-stack-prometheus
      namespace: monitoring
      serviceMonitor:
        enabled: false
      prometheusRule:
        enabled: false
    crds:
      enabled: true
    psp:
      create: false
    resources:
      requests:
        cpu: 5m
        memory: 34M
      limits:
        memory: 34M
