---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: 'enabled'
spec:
  instances: 3
  # renovate: datasource=docker depName=ghcr.io/cloudnative-pg/postgresql repository=ghcr.io
  imageName: ghcr.io/cloudnative-pg/postgresql:18.0-standard-trixie@sha256:ffd3687c9c71b74d8a19f24c4c56366f42ee96f7c516ad2bf31fbeec5b0f9747
  storage:
    size: 15Gi
    storageClass: openebs-hostpath
  superuserSecret:
    name: cloudnative-pg-secret
  enableSuperuserAccess: true
  primaryUpdateStrategy: unsupervised
  primaryUpdateMethod: switchover
  postgresql:
    parameters:
      max_connections: "600"
      shared_buffers: 512MB
    extensions:
      - name: postgis
        ld_library_path:
          - system
        image:
          reference: ghcr.io/cloudnative-pg/postgis-extension-testing:3.6.0-18-trixie@sha256:ec21540f5799561a9b05ca188fd28ce32852a826f48d80329260940855f5f558
      - name: vchord
        image:
          reference: ghcr.io/tensorchord/vchord-scratch:pg18-v0.5.3@sha256:c310ede47f7f82bd257c3e53806d60680d5899c318ca946fb313efad9a90a78e
        dynamic_library_path:
          - /usr/lib/postgresql/18/lib
        extension_control_path:
          - /usr/share/postgresql/18/
    shared_preload_libraries:
      - "vchord"
  resources:
    requests:
      cpu: 250m
      memory: 2Gi
    limits:
      memory: 4Gi
  monitoring:
    enablePodMonitor: true
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters: &parameters
        barmanObjectName: postgres
        serverName: postgres-v1
  # Note: Bootstrap is needed when recovering from an existing cnpg cluster
  bootstrap:
    recovery:
      source: source
  externalClusters:
    - name: source
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters: *parameters

  # managed:
  #   roles:
  #     - name: adventurelog
  #       ensure: present
  #       login: true
  #       superuser: false
  #       passwordSecret:
  #         name: adventurelog-postgres
  #     - name: atuin
  #       ensure: present
  #       login: true
  #       superuser: false
  #       passwordSecret:
  #         name: atuin-postgres
  #     - name: authelia
  #       ensure: present
  #       login: true
  #       superuser: false
  #       passwordSecret:
  #         name: authelia-postgres
  #     - name: bazarr
  #       ensure: present
  #       login: true
  #       superuser: false
  #       passwordSecret:
  #         name: bazarr-postgres
  #     - name: dispatcharr
  #       ensure: present
  #       login: true
  #       superuser: false
  #       passwordSecret:
  #         name: dispatcharr-postgres
  #     - name: home_assistant
  #       ensure: present
  #       login: true
  #       superuser: false
  #       passwordSecret:
  #         name: home_assistant-postgres
  #     - name: immich
  #       ensure: present
  #       login: true
  #       superuser: false
  #       passwordSecret:
  #         name: immich-postgres
  #     - name: lldap
  #       ensure: present
  #       login: true
  #       superuser: false
  #       passwordSecret:
  #         name: lldap-postgres
  #     - name: nextcloud
  #       ensure: present
  #       login: true
  #       superuser: false
  #       passwordSecret:
  #         name: nextcloud-postgres
  #     - name: paperless
  #       ensure: present
  #       login: true
  #       superuser: false
  #       passwordSecret:
  #         name: paperless-postgres
  #     - name: prowlarr_main
  #       ensure: present
  #       login: true
  #       superuser: false
  #       passwordSecret:
  #         name: prowlarr-postgres
  #     - name: radarr_main
  #       ensure: present
  #       login: true
  #       superuser: false
  #       passwordSecret:
  #         name: radarr-postgres
  #     - name: sonarr_main
  #       ensure: present
  #       login: true
  #       superuser: false
  #       passwordSecret:
  #         name: sonarr-postgres
  #     - name: tandoor
  #       ensure: present
  #       login: true
  #       superuser: false
  #       passwordSecret:
  #         name: tandoor-postgres
  #     - name: vaultwarden
  #       ensure: present
  #       login: true
  #       superuser: false
  #       passwordSecret:
  #         name: vaultwarden-postgres
