---
apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  name: postgres
spec:
  retentionPolicy: 30d
  configuration:
    data:
      compression: bzip2
    wal:
      compression: bzip2
      maxParallel: 8
    destinationPath: s3://postgresql/
    endpointURL: http://192.168.20.5:3900
    s3Credentials:
      accessKeyId:
        name: cloudnative-pg-secret
        key: S3_ACCESS_KEY
      secretAccessKey:
        name: cloudnative-pg-secret
        key: S3_SECRET_KEY
