---
apiVersion: v1
kind: Service
metadata:
  name: cloudnative-pg
  namespace: databases
spec:
  type: LoadBalancer
  annotations:
    coredns.io/hostname: postgres.${SECRET_DOMAIN}
    io.cilium/lb-ipam-ips: ${SVC_POSTGRES_ADDR}
  externalTrafficPolicy: Local
  ports:
    - name: postgres
      port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    postgresql: postgres
    role: primary
