---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app traefik
  namespace: networking
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://helm.traefik.io/traefik
      chart: traefik
      version: 25.0.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 5
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 5
  values:
    deployment:
      replicas: 2
    providers:
      kubernetesCRD:
        enabled: true
        allowCrossNamespace: true
        allowExternalNameServices: true
      kubernetesIngress:
        enabled: true
    service:
      enabled: true
      type: LoadBalancer
      annotations:
        io.cilium/lb-ipam-ips: ${SVC_TRAEFIK_ADDR}
      spec:
        externalTrafficPolicy: Cluster
    logs:
      general:
        format: json
        level: ERROR
      access:
        enabled: true
        format: json
        filters:
          statuscodes: 200,300-302
          retryattempts: true
          minduration: 450000ns
        fields:
          general:
            names:
              defaultmode: drop
              ClientAddr: keep
              RequestAddr: keep
              RequestMethod: keep
              RequestPath: keep
              RequestCount: keep
              RequestProtocol: keep
              RequestScheme: keep
              RetryAttempts: keep
              RouterName: keep
              Duration: keep
          headers:
            defaultmode: keep
            names:
              Authorization: drop
    metrics:
      prometheus:
        entryPoint: metrics
        service:
          enabled: true
        serviceMonitor:
          namespace: networking
    tlsOptions:
      default:
        minVersion: VersionTLS12
        cipherSuites:
          - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        curvePreferences:
          - CurveP521
          - CurveP384
        sniStrict: true
        preferServerCipherSuites: true
    experimental:
      http3:
        enabled: true
    ingressClass:
      enabled: true
      isDefaultClass: false
      fallbackApiVersion: v1
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`traefik.${SECRET_DOMAIN}`)
        entryPoints: ["websecure"]
        middlewares:
          - name: authelia
          - name: local-only
        tls:
          secretName: "${SECRET_CERT_NAME}-prod-tls"
    globalArguments:
      - "--global.sendanonymoususage=false"
      - "--global.checknewversion=true"
      - "--api.insecure=false"
      - "--providers.kubernetesingress.ingressclass=traefik"
      - "--providers.kubernetesingress.allowexternalnameservices=true"
      - "--entrypoints.websecure.forwardedHeaders.trustedIPs=127.0.0.1/32,173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,172.64.0.0/13,131.0.72.0/22,104.16.0.0/13,104.24.0.0/14"
    additionalArguments:
      - "--providers.kubernetesingress.ingressendpoint.ip=${SVC_TRAEFIK_ADDR}"
      - "--entrypoints.web.proxyprotocol.trustedips=127.0.0.1"
      - "--entrypoints.web.forwardedheaders.trustedips=127.0.0.1/32"
      - "--entrypoints.websecure.proxyprotocol.trustedips=127.0.0.1"
    ports:
      traefik:
        expose: true
      web:
        redirectTo:
          port: websecure
      websecure:
        tls:
          enabled: true
          options: "default"

    resources:
      requests:
        cpu: 5m
        memory: 121M
      limits:
        memory: 121M

    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: *app
