---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: influxdb
  namespace: flux-system
spec:
  targetNamespace: databases
  dependsOn:
    - name: longhorn
  path: ./kubernetes/main/apps/databases/influxdb/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta2
      kind: HelmRelease
      name: influxdb
      namespace: databases
  interval: 30m
  retryInterval: 1m
  timeout: 3m
