---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./externalsecret.yaml
  - ./scrapeconfigs
configMapGenerator:
  - name: alertmanager-config-tpl
    files:
      - alertmanager.yaml=./config/alertmanager.yaml
generatorOptions:
  disableNameSuffixHash: true
